.slider {
    position: relative;
    margin-top: -1rem;
    flex: 1;
    .carousel {
        height: 100%;
        display: flex;

        .list-slides {
            height: 100%;
        }
    }
}

.carousel {
    position: relative;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 100%, 50% 100%, 0 100%);

    .img {
        position: relative;
        flex: 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-line {
            position: absolute;
            width: 100%;
            bottom: -5px;
            left: 0;
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: #fff;
        color: rgb(0, 0, 0);
        padding-right: 1rem;
        padding-bottom: .5rem;

        .title {
            font-weight: 600;
            width: 70%;
        }

        .descriptions {
            width: 70%;
            font-size: .9rem;
            color: rgb(94, 94, 94);
            display:-webkit-box;
            -webkit-line-clamp:2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
        }
    }
}
.slideshow {
    position: relative;
    display: flex;
    width: 600%;
    height: 100%;
}

.item-show {
    position: relative;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    position: absolute;
    opacity: .8;
    z-index: 1;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnPrev {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.btnNext {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
